In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv("../data_given/winequality.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  TARGET                1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
TARGET,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [11]:
df.describe().loc[["min", "max"]].to_json("in_range.json")

In [35]:
def fib_r(x):
    if x<1: return None
    if x<3: return 1
    return fib_r(x-1) + fib_r(x-2)

def fib_m(x, memo={}):
    if x<1: return None
    if x<3: return 1
    if x in memo: return memo[x]
    memo[x] = fib_m(x-1, memo) + fib_m(x-2, memo)
    return memo[x]

def fib_t(x):
    if x<1: return None
    if x in [1, 2]:
        return 1
    else:
        tabl = [None]*x
        tabl[0], tabl[1] = 1, 1 
        for i in range(2, len(tabl)):
            tabl[i] = tabl[i-1]+tabl[i-2]
        return tabl[x-1]
fib_t(50)

12586269025

In [38]:
def can_sum(t_sum, arr):
    table = [False]*(t_sum+1)
    table[0]=True
    
    for i in range(t_sum):
        if table[i]:
            for num in arr:
                if i+num <= t_sum:
                    table[i+num]=table[i]
    print(table)
    return table[t_sum]

In [39]:
can_sum(5, [2, 3])

[True, False, True, True, True, True]

True

In [68]:
def how_sum(t_sum, arr):
    if t_sum < 0: return None
    if t_sum == 0: return [[]]
    
    for num in arr:
        remainder_sum = how_sum(t_sum-num, arr)
        if remainder_sum is not None:
            memo[t_sum] = remainder_sum+[num]
            return memo[t_sum]
    return None

# def best_sum(t_sum, arr):
#     table = [None]*(t_sum+1)
#     table[0]=[]

#     for i in range(len(table)):
#         if table[i] is not None:
#             for num in arr:
#                 if i+num <= t_sum:
#                     table[i+num] = table[i]+[num]
            
#     return table[t_sum]

def can_construct(t_txt, w_bank):
    table = [False]*(len(t_txt)+1)
    table[0] = True
    
    for i in range(len(t_txt)+1):
        if table[i]:
            for word in w_bank:
                if t_txt[i:].startswith(word):
                    table[i+len(word)]=table[i]
    return table[len(t_txt)]

In [71]:
can_construct("abcde", ["a", "b", "cd", "de", "e"])

True

In [83]:
def c_construct(t_txt, w_bank):
    table = [0]*(len(t_txt)+1)
    table[0] = 1
    
    for i in range(len(t_txt)+1):
        if table[i] > 0:
            for word in w_bank:
                if t_txt[i:].startswith(word):
                    table[i+len(word)]+=table[i]
    return table[len(t_txt)]

In [85]:
c_construct("abcde", ["a", "b", "cd", "de", "e", "ck"])

1

In [91]:
def all_construct(t_txt, w_bank, memo={}):
    if t_txt in memo: return memo[t_txt]
    if t_txt == "": return [[]]
    result = []
    for word in w_bank:
        if t_txt.startswith(word):
            suffix_ways = all_construct(t_txt[len(word):], w_bank)
            print(suffix_ways)
            target_ways = list(map(lambda x:[word]+x, suffix_ways))
            result.extend(target_ways)
    memo[t_txt] = result
    return result

In [102]:
all_construct("abcde", ["a", "b", "cd", "de", "e", "c"])

[['a', 'b', 'c', 'de'], ['a', 'b', 'cd', 'e']]

In [101]:
def all_construct(t_txt, w_bank):
    table = [None]*(len(t_txt)+1)
    table[0]=[[]]
    
    for i in range(len(t_txt)+1):
        if table[i] is not None:
            for word in w_bank:
                if t_txt[i:].startswith(word) and i+len(word) <= len(t_txt):
                    if table[i+len(word)] is not None:
                        table[i+len(word)]  += list(map(lambda x: x+[word], table[i]))
                    else:
                        table[i+len(word)]  = list(map(lambda x: x+[word], table[i]))
    return table[-1]

In [104]:
def pair_sum(t_sum, arr):
    result = set()
    for num in arr:
        if abs(t_sum-num) in arr:
            result.add((min(abs(t_sum-num), num), max(abs(t_sum-num), num)))
    return result
            
    
    
pair_sum(5, [1, 2, 3, 4])

{(1, 4), (2, 3)}

In [105]:
def insertion_sort(arr):
    if len(arr)<2: return arr
    
    for i in range(1, len(arr)):
        anchor = arr[i]
        j = i-1
        while j>=0 and anchor<arr[j]:
            arr[j+1] = arr[j]
            j-=1
        arr[j+1] = anchor
    return arr

insertion_sort([5, 6, 10, 2, 9, 1, 0, 3])

[0, 1, 2, 3, 5, 6, 9, 10]

In [108]:
def merge(left, right, lst):
    n_left, n_right = len(left), len(right)
    i, j, k = 0 , 0, 0
    
    while n_left > i and n_right > j:
        if left[i] <= right[j]:
            lst[k] = left[i]
            i+=1
        else:
            lst[k] = right[j]
            j+=1
        k+=1
    
    while n_left > i:
        lst[k] = left[i]
        i+=1
        k+=1
    while n_right > j:
        lst[k] = right[j]
        j+=1
        k+=1
        
def merge_sort(lst):
    if len(lst)<2: return 
    
    mid_index = len(lst)//2
    left = lst[:mid_index]
    right = lst[mid_index:]
    merge_sort(left)
    merge_sort(right)
    merge(left, right, lst)
    
lst = [5, 6, 10, 2, 9, 1, 0, 3]
merge_sort(lst)
lst

[0, 1, 2, 3, 5, 6, 9, 10]